body {
  margin: 50px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 6px 0 16px;
  resize: vertical;
}
#error {
  margin-top: 30px;
  color: red;
}

table {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
